/* * {
  border: 1px solid black;
} */


.navbar {
  height: 40px;
  display: flex;
  background: linear-gradient(45deg, #95FD48, #19E9A6);
  justify-content: space-between;
}

.links li {
  display: inline;
}

.items {
  font-family: sans-serif;
  margin: 5px;
}

.logo {
  margin: 5px;
  margin-top: 10px;
}
